.pribacy_policy {
  padding: 70px 12%;
  color: #494a4b;
}

.back {
  text-decoration: none;
  color: #494a4b;
}

.back p {
  display: inline;
}

.title {
  font-size: 17px;
  padding: 50px 0px;
  color: #494a4b;
}

.paragraph {
  font-size: 15px;
  color: #ffb6bb;
}

.pribacy_policy p {
  font-size: 14px;
}

.bold {
  font-weight: 600;
}

.padding {
  padding-left: 2%;
}

.paddingMore {
  padding-left: 4%;
}

/*スマホ用デザインの実装*/
@media screen and (max-width: 480px) {
  .title {
    font-size: 13px;
  }

  .paragraph {
    font-size: 12px;
  }

  .pribacy_policy p {
    font-size: 11px;
  }
}
