  /* winwinとはのコンテンツのswiper */
  /* 高さを自動にする */
  .container_what{
    background-color: #FFFFCC;
    height: auto;
    margin-bottom: 50px;
  }

  .swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .swiper-slide {
    width: 29.5%;
  }

  .swiper-slide img{
    max-width: 100%;
  }

  .swiper-pagination {
    display: none;
  }

  /* こっからコンテント側のクラスのcss実装 */

  /* box-shadowが聞かないからoverflowプロパティを上書き  */
  .what{
    overflow: visible;
  }

  .winwin_content{
    box-shadow: 3px 5px 6px 0px #9E9E9E;
    background-color: #f8f8f8;
    padding: 20px;
    color: #494a4b;
  }

  .winwin_content h2{
    color:#FF33FF;
    font-size: 28px;
  }

  .winwin_content p{
      font-size: 18px;
  }
  
  .winwin_content h1{
      padding-bottom: 0px;
      margin: 0px;
      display: inline-block;
      font-size: 50px;
      background: linear-gradient(transparent 1.2em, #fecfef 0, #fecfef 1.4em, transparent 0);
  }

  .content_span{
      font-size: 20px;
      font-weight: bold;
  }

  /* winwinの使い方のコンテンツのswiper */
  /* 高さを自動にする */
  .container_how{
    background-color: #CCFFFF;
    height: auto;
  }

  /* こっからコンテント側のクラスのcss実装 */
  .how_to_content{
    text-align: center;
  }
  
  .how_to_No{
    margin: 0;
    line-height: 150px;
    height: 150px;
    font-size: 60px;
    font-weight: bold;
    color: #CC0099;
  }

  .how_to_content h3{
    font-size: 25px;
    color: #CC0099;
  }

  .how_to_description{
    color: #494a4b;
  }

  /* ビューポートが 480px 幅より狭い */
  @media screen and (max-width: 480px) {

    .swiper-container{
      padding: 0 50px;
    }
    
    .swiper-slide {
      width: 100%;
    }
    
    img {
      max-width: 100%;
    }
    .swiper-pagination {
      display: block;
    }

    /* こっからコンテント側のクラスのcss実装 */
    /* 全体的に文字の大きさ変えとるだけ */
    .what{
      overflow: hidden;
    }
  
    .winwin_content{
      box-shadow: 3px 5px 6px 0px #9E9E9E;
      padding: 20px 0;
    }

    .test{
      padding:0 20px;
    }

    .winwin_content h2{
      font-size: 25px;
    }

    .winwin_content p{
        font-size: 16px;
    }
    
    .winwin_content h1{
        font-size: 30px;
    }

    .content_span{
        font-size: 18px;
    }
    
    .how_to_No{
      font-size: 40px;
    } 
  }