/* box-shadowが聞かないからoverflowプロパティを上書き  */
  /* .swiper-container{
      overflow: visible;
  } */
  * {
    box-sizing: border-box;
  }
  
  .section {
    background: #ded473;
    height: 1200px;
    padding: 2rem 0;
  }
  
  .title {
    color: #333;
    font-family: Quicksand, sans-serif;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  .swiper-slide {
    width: 100%;
  }
  
  img {
    max-width: 100%;
  }
  
  /* ビューポートが 600px 幅より広い */
  @media screen and (min-width: 601px) {
    .section {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
    }
    
    .swiper-slide {
      width: 32%;
    }
  }
  