body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
}

/*ファーストビューのcss*/
/* レスポンシブ用のクラスのためここでは非表示 */
.for_res{
    display: none;
}
/* レスポンシブ用のクラスのためここでは非表示 */
.for_res_link{
    display: none;
}
.lp_first_view{
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-image: url(../img/lp_firstview_bg.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 900px;
}

.lp_first_view::before {
    content: '';
    opacity: 0.4;
    background-color: #040740;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.lp_span{
    position: absolute;
    margin: 0;
    /* padding-right: 80px; */
    font-size:2.0rem;
    color: #FFF;
    font-weight: bold;
    top: 45%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    left: 5%;
    background: linear-gradient(transparent 1.5em, #FFCFEF 0, #FFCFEF 2.0em, transparent 0);
}

.lp_first_view p{
    line-height:150%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 62%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    left: 10%;
    color: white;
    font-size: 70px;
}

.lp_main{
    font-family: kan415typos-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px;
}

.lp_profile{
    position: absolute;
    top: 50%;
    left: 68%;
    width: 405px;
    height: 800px;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.lp_winwin{
    position: absolute;
    width: 450px;
    height: 450px;
    top: 16%;
    left: 55%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.lp_first_button{
    position: absolute;
    top: 82%;
    left: 10%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    display: inline-block;
    font-size: 40px;
    padding: 10px 80px;
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #CC0099 0%, #CC0099 100%);
    transition: .4s;
}


.lp_first_button:hover {
    color:#CC0099;
    background-image: linear-gradient(45deg, #FFF 0%, #FFF 100%);
}

.first_apple{
    position: absolute;
    width: 14%;
    height: 6%;
    top: 90%;
    left: 14%;
}

.first_google{
    position: absolute;
    width: 14%;
    height: 6%;
    top: 90%;
    left: 30%;
}


/*WinWinって何のcss*/
.lp_what_is_winwin{
    height: 1100px;
}


.what_is_winwin{
    position: relative;
    height: 400px;
    margin-top: 30px;
    width: 100%;
}

.what_is_winwin img{
    padding-top: 50px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 18%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.what_is_winwin_title{
    position: absolute;
    font-size: 80px;
    top: 27%;
    left: 30%;
    color: #494a4b;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.what_is_winwin_title p{
    font-size: 40px;
}

.what_is_winwin_span{
    font-size: 70px;
    font-weight: 200;
}

.what_is_winwin_description{
    position: absolute;
    top: 72%;
    left: 30%;
    color: #494a4b;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

/* swiperの実装 */
.section {
    /* background: #ded473; */
    /* height: 850px; */
    padding-left: 2rem;
    padding-right: 2rem;
  }

/* box-shadowが聞かないからoverflowプロパティを上書き  */
.swiper-container{
    overflow: visible;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 100%;
}

.winwin_content{
    box-shadow: 3px 5px 6px 0px #9E9E9E;
    background-color: #f8f8f8;
    width: 30%;
    padding: 20px;
    color: #494a4b;
}

.winwin_content h2{
    color:#FF33FF;
    font-size: 30px;
    width: 100%;
}

.winwin_content p{
    font-size: 18px;
}
  
.winwin_content h1{
    padding-bottom: 0px;
    margin: 0px;
    display: inline-block;
    font-size: 50px;
    background: linear-gradient(transparent 1.5em, #fecfef 0, #fecfef 1.7em, transparent 0);
}

.content_span{
    font-size: 28px;
    font-weight: bold;
}


/*how to use winwinの実装*/
.lp_how_to_use{
    height: 1500px;
    width: 100%;
}
/*how to use winwinのタイトルの部分の実装*/
.how_to_use_title{
    color: #494a4b;
    position: relative;
    height: 300px;
    width: 100%;
}

.how_to_use_title img{
    position: absolute;
    width: 420px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.how_to_use_title h2{
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.how_to_use_title p{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 65%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

/*how to use winwinのコンテンツ部分の実装*/
.how_to_content{
    text-align: center;
    width: 30%;
}

.how_to_No{
    margin: 0;
    line-height: 150px;
    height: 150px;
    font-size: 60px;
    font-weight: bold;
    color: #CC0099;
} 

.how_to_content h3{
    font-size: 25px;
    color: #CC0099;
}

.how_to_description{
    color: #494a4b;
}

/*フッターの実装*/
.lp_footer{
    height: 1100px;
}

.footer_main{
    height: 800px;
    background-image: url(../img/lp_footer_bg.jpg);
    background-size: cover;
}

.questions{
    height: 350px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.questions h1{
    margin: 0;
}

.text1{
    padding-top: 50px;
    position: relative;
    width: 30%;
    text-align: center;
    /* padding-top: 10px; */
}

.text1 img{
    /* position: absolute; */
    /* top: 0;
    left: 7%; */
    height: 200px;
    width: 270px;
}

.text1 h1{
    position: absolute;
    top: 34%;
    left: 25%;
    color: #494a4b;
    font-size: 25px;
    display:inline-block;
    /* background: linear-gradient(transparent 1.5em, #FFCFEF 0, #FFCFEF 1.8em, transparent 0); */
}

.text2{
    /* padding-top: 20px; */
    position: relative;
    width: 40%;
    text-align: center;
    /* padding-top: 60px; */
}

.text2 img{
    /* position: absolute; */
    /* top: 0;
    left: 7%; */
    height: 280px;
    width: 100%;
}

.text2 h1{
    position: absolute;
    top: 15%;
    left: 17%;
    color: #CC0099;
    font-size: 35px;
    display:inline-block;
    /* background: linear-gradient(transparent 1.7em, #9AC1F5 0, #9AC1F5 2.0em, transparent 0); */
}

.text3{
    padding-top: 50px;
    position: relative;
    width: 30%;
    /* padding-top: 100px; */
}

.text3 img{
    /* position: absolute; */
    /* top: 0;
    left: 7%; */
    height: 200px;
    width: 270px;
}

.text3 h1{
    position: absolute;
    top: 34%;
    left: 25%;
    color: #494a4b;
    font-size: 25px;
    display:inline-block;
    /* background: linear-gradient(transparent 1.5em, #FFCFEF 0, #FFCFEF 1.8em, transparent 0); */
}

.download{
    height: 230px;
    width: 50%;
    background-color: white;
    margin: 200px auto 0 auto;
    
}

.download_text{
    width:100%;
    position: relative;
    height: 150px;
    text-align: center;
}

.download_text p{
    width:100%;
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.download_text h1{
    width:100%;
    position: absolute;
    font-size: 40px;
    color: #CC0099;
    font-weight: bold;
    top: 70%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.download_img{
    text-align: center;
}

.download_img img{
    width: 180px;
    height: 60px;
}

.footer_apple{
    padding-right:20px;
}

.footer_google{
    padding-left: 20px;
}

.footer_sub{
    height: 300px;
    text-align: center;
    padding-top: 30px;
}

.footer_sub img{
    width: 200px;
    height: 155px;
}

.footer_sub p{
    margin: 0;
}


/*スマホ用デザインの実装*/
@media screen and (max-width:480px){
/*ファーストビューのレスポンシブ用css*/
.for_res{
    /* display: inline;
    text-align: center; */
}
.for_res h1{
    /* margin-top: 0;
    padding-top: 50px;
    margin-bottom: 0; */
}

.for_res h2{
    /* margin-top: 0; */
}

.lp_first_view{
    height: 500px;
    position: relative;
    min-height: 100vh;
    background-image: url(../img/lp_firstview_bg_Res1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;

}
/*レスポンシブではプロフィールの画像表示しない*/
.lp_profile{
    display: none;
}

.lp_winwin{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 70%;
    left: 0;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.lp_span{
    font-size: 20px;
    font-weight: bold;
    top: 60%;
    left: 5%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    background: linear-gradient(transparent 1.5em, #fecfef 0, #fecfef 1.7em, transparent 0);
    border: 0px;
}

.lp_main{
    font-size: 55px;
}


.lp_first_view p{
    font-size: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 82%;
    left: 15%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    color: white;
}
/*レスポンシブではクラスからはみ出して表示させるため、ここでは非表示にする。*/
.lp_first_button{
    display: none;
}

.lp_first_button:hover {
    display: none;
}

.first_apple{
    display: none;
}

.first_google{
    display: none;
}
/*レスポンシブでは、登録用のクラスを表示するためここでcssの指定*/
.for_res_link{
    text-align: center;
    display: block;
    height: 220px;
    width: 100%;
}

.subsc_for_res{
    height: 100px;
}

.lp_first_button_for_res {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 80px;
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #CC0099 0%, #fecfef 100%);
    transition: .4s;
  }
  
  .lp_first_button_for_res:hover {
    background-image: linear-gradient(45deg, #CC0099 0%, #DF5286 100%);
  }

.first_img_for_res{
    justify-content: center;
    height: 120px;
    display: flex;
    width: 100%;
}

.first_img_for_res img{
    height: 50px;
    width: 170px;
}

.lp_what_is_winwin{
    height: 1000px;
    width: 100%;
}

.what_is_winwin{
    height:160px;
    margin-top: 0;
    text-align: center;
}

.what_is_winwin img{
    text-align: center;
    width: 100px;
    height: 100px;
    padding:0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 0;
    } 

.what_is_winwin_title {
    font-size: 10px;
    position: static;
}

.what_is_winwin_title p{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}

.what_is_winwin_span{
    font-size: 40px;
}

.what_is_winwin_description{
    text-align: left;
    height: 130px;
    font-size: 9px;
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
}

.what_is_winwin_description h1{
    margin: 0%;
    padding-left: 15%;
}

.section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .swiper-slide {
    width: 100%;
  }
.lp_how_to_use{
    /* height: 2000px; */
}

.how_to_use_contents{
    flex-direction: column;
}

/*how to use winwinのタイトルの部分の実装*/
.how_to_use_title{
    position: relative;
    height: 200px;
    width: 100%;
    color: #494a4b;
}

.how_to_use_title img{
    position: absolute;
    width: 420px;
    height: 250px;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.how_to_use_title h2{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.how_to_use_title p{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}


.footer_main{
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    /* height: 800px; */
    background-image: url(../img/lp_footer_bg_res1.jpg);
    background-size: cover;
}

.questions{
    height: 600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: white;
}

.download{
    padding-bottom: 10px;
    height: 150px;
    width: 100%;
    background-color: white;
    margin: 0;
    
}

.download_text{
    width:100%;
    position: relative;
    height: 100px;
    text-align: center;
}

.download_text p{
    width:100%;
    position: absolute;
    font-size: 25px;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.download_text h1{
    width:100%;
    position: absolute;
    font-size: 26px;
    color: #CC0099;
    font-weight: bold;
    top: 68%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.download_img{
    height: 50px;
    text-align: center;
}

.download_img img{
    width: 180px;
    height: 40px;
}

.footer_apple{
    padding:0;
}

.footer_google{
    padding:0;
}


}
